# Public envs
NEXT_PUBLIC_CHAIN_RPC=
NEXT_PUBLIC_CHAIN_ID=

NEXT_PUBLIC_FSHT_TOKEN_ADDRESS=
NEXT_PUBLIC_STAKING_ADDRESS=
NEXT_PUBLIC_NFT_ADDRESS=
NEXT_PUBLIC_BAITSHOP_ADDRESS=
NEXT_PUBLIC_FAUCET_ADDRESS=


